section {margin-bottom:30px;}

/*navber style start*/


nav.navbar.navbar-dark.bg-dark.navpadding {
    padding: 20px 0px;
    background: #ff8036 !important;
}



.navbar-brand span {
    color: #ffb990;
}

.barndName{text-align:center; font-size:20px; color:black;  }
.margin {border-bottom:3px solid #ff8036; width:230px; margin:auto; padding:10px 0px 6px 0px; margin-bottom:10px;}

.col-md-4 ul li {
    list-style: none;
	border-bottom:2px solid #ddd;
	font-size:17px;
	text-decoration:italick;
	margin-bottom:6px;
	padding-bottom:3px;
	
}

.col-md-4 ul {
	
	padding-right:35px;
	
}
.heightImg{height:320px !important;}

.borderDiv {margin-top:20px;} 
.borderSlide {margin-top:20px; border:3px solid #ff8036}

.borderBottom{border-bottom:2px solid #ff8036; font-weight:bold;}
.mobile{margin-top:10px;}
.mobile img{ border-right:2px solid orange;float:left; width:150px; margin-right:10px }




.floatDiv.col-md-6 {
    width: 250px;
}


footer{background:#444;color:#bababa;}
.topPadding{margin-top: 25px;
    margin-bottom: 15px;}
.topPadding ifream{border-radius:3px;}

.btnMargin{    margin-top: 15px;
   /* margin-left: 80px;*/
   float:right;}

.btn-outline-danger:hover {
    color: #fff !important;
    background-color: #ffac13  !important;
border-color: #ffa500  !important;}



.btn-outline-danger { 

    color: #ffa500 !important;
    border-color: #ffa500 !important;
}
